
<h2 class="margin-bottom">What are you thinking?<h2>

<%= form_with(model: @tweet) do |form| %>
    <% if @tweet.errors.any? %>
        <div id="error_explanation">
        <p><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</p>

        <ul>
            <% @tweet.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

  <div class="mb-3">
    <%= form.text_area :text, class: 'form-control' %>
  </div>
  <%= form.submit :class => 'btn btn-primary' %>
  
<% end %>